.allEpreuves {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  width: 100%;

  form {
    background-color: var(--middle);

    margin: var(--espace) 0;
    padding: var(--espace);
    border-radius: var(--radius);
    border-top: var(--line) solid var(--blue);

    label {
      color: var(--text2Trans);
      font-style: italic;
      padding: 0 var(--espace) 0 0;
    }

    svg {
      fill: var(--text2);
    }
  }

  .cardsEpreuvesUl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
  }
}
