.oneEpreuve {
  gap: var(--gap);

  .topButtLinker {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap);
    margin-bottom: var(--espace);
  }

  h1 {
    text-transform: uppercase;
  }

  .infoDifficulty {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .videoEpreuve {
    border: none;
  }
}
