ul.imageAlredyInBase {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 360px;
      height: 300px;
    }

    .remove_img {
      cursor: pointer;
    }

    &.isCouv {
      img {
        border: 2px var(--blue) solid;
        border-radius: var(--radius);
      }

      button.toCouv {
        filter: grayscale(0.7);
      }
    }
  }
}

.formForImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  width: calc(100% - 40px);
  max-width: 800px;
  background-color: var(--middle);

  padding: var(--espace);
  border-radius: var(--radius);
  border-top: var(--line) solid var(--blue);

  margin: var(--espace);

  .filesToUpload {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
  }

  .imager {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 360px;
      height: 300px;
    }

    .remove_img {
      cursor: pointer;
    }

    &.isCouv {
      img {
        border: 2px var(--blue) solid;
        border-radius: var(--radius);
      }

      button {
        filter: grayscale(0.7);
      }
    }
  }

  .inputer {
    input {
      width: 0;
      position: absolute;
    }
  }
}
