ul.imageAlredyInBase {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 360px;
      height: 300px;
    }
  }
}

.formForImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  width: calc(100% - 40px);
  max-width: 700px;
  background-color: var(--middle);

  padding: var(--espace);
  border-radius: var(--radius);
  border-top: var(--line) solid var(--blue);

  margin: var(--espace);

  .imager {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 360px;
      height: 300px;
    }

    .remove_img {
      cursor: pointer;
    }
  }

  .inputer {
    input {
      width: 0;
      position: absolute;
    }
  }
}
