footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 15rem;
  z-index: 9;

  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1rem 2rem;

    width: 1380px;
    max-width: calc(100% - 2rem);
    height: 100%;

    background-color: var(--middle);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);

    nav {
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      gap: 1rem;

      section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        h4 {
          padding-bottom: 0.5rem;
        }

        .reseaux {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 1rem;
          font-size: var(--fs-h4);
        }
      }
    }

    hr {
      width: 50%;
    }
  }
}

@media screen and (max-width: 800px) {
  footer {
    height: 36rem;

    .wrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      nav {
        flex-direction: column;
        gap: 2rem;
        width: auto;
      }
    }
  }
}
