.navbarOrdi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;

  .skipNavbarLink {
    position: absolute;
    left: 0;
    transform: translate(-105%);

    background: var(--middle);
    padding: var(--espace);

    transition: transform 0.3s;

    &:focus {
      transform: translate(5%);
    }
  }

  .navbar {
    padding: 0 2rem;
    height: 70px;

    width: var(--maxWidth);
    max-width: calc(100% - 2rem);
    background-color: var(--middle);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo {
      height: 50px;
    }

    .links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: var(--espace);

      a {
        padding: 0.5rem;
        border-radius: var(--radius);

        &.active {
          background-color: var(--blue);
        }

        span {
          display: flex;
        }
      }
    }
  }

  @media screen and (max-width: 420px) {
    .navbar {
      padding: 0 var(--gap);

      .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: var(--gap);
      }
    }
  }
}
