form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap);

  .containerMiniChamp {
    display: flex;
    align-items: flex-start;
    gap: var(--gap);
  }

  // parkour enum + multiple choose
  .containerFlexChamp {
    display: flex;
    align-items: center;
    gap: var(--gap);

    .champ {
      &:nth-child(1) {
        flex: 1;
        color: var(--text2);

        label {
          color: var(--text2Trans);
          font-style: italic;
          padding: 0 var(--espace) 0 0;
        }
      }

      .MuiChip-deletable {
        border: 1px solid var(--text2);

        svg {
          fill: var(--text2);
        }

        span {
          color: var(--text2);
        }
      }
    }

    svg {
      fill: var(--text2);
    }
  }

  // text de base
  .champ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;

    .mui-input {
      background-color: var(--back);
      color: var(--text2);
      border-radius: var(--radius);

      label {
        color: var(--text2Trans);
        font-style: italic;
        padding: 0 var(--espace) 0 0;
      }

      input,
      textarea {
        color: var(--text2);

        // pour éviter les couleurs du autofill
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-background-clip: text;
          -webkit-text-fill-color: var(--text2);
        }
      }
    }
  }

  hr {
    width: 50%;
    align-self: center;
    margin: 10px 0;
  }
}
