// reset du css et mise en place de base

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"); // titre
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"); // text

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  min-height: 100%;

  background: var(--back);
  color: var(--text2);

  font-size: var(--fs-base);
  font-family: "Instrument Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  object-fit: cover;
}

/* --- TITRES --- */

h1 {
  font-size: var(--fs-h1);
  font-family: "Jost", serif;
  text-align: center;
}

h2 {
  font-size: var(--fs-h2);
  font-family: "Jost", serif;
  text-align: center;
}

h3 {
  font-size: var(--fs-h3);
  font-family: "Jost", serif;
}

h4 {
  font-size: var(--fs-h4);
  font-family: "Jost", serif;
}

/* --- LAYOUT --- */

.layoutFlex {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  background-color: var(--back);
  color: var(--text2);

  .elementsNavigation {
    z-index: 10;
  }

  .layoutChild {
    padding: var(--espace); // permet de ne pas coller le bord

    width: 100%;
    max-width: var(--maxWidth);

    display: flex;
    flex-direction: column;
    flex: 1 0 0;

    margin-bottom: 100px;
  }
}

/* --- MAIN --- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 50px;
}

@media screen and (min-width: 800px) {
  main {
    margin-top: 0;
  }
}

/* --- REDUCE MOTION --- */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
