:root {
  --outer-radius: 16px;
  --radius: 8px;

  --padding: 1rem;
  --pad_button: 0.25rem 0.5rem;

  --smallGap: 0.2rem;
  --gap: 0.75rem;
  --bigGap: 2rem;

  --fs-h1: 4rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.2rem;

  --back: rgb(255, 255, 255);
  --color: rgb(0, 0, 0);
  --red: rgb(237, 18, 26);
  --blue: rgb(0, 51, 153);
  --yellow: rgb(255, 204, 0);
  --middle: rgb(209, 223, 252);
}

:root .darkTheme {
  --back: rgb(0, 0, 0);
  --color: rgb(255, 255, 255);
  --middle: rgb(119, 119, 119);
}
