// les variables utilisées pour le style

:root {
  --maxWidth: 1380px;

  // style
  --line: 5px;
  --losange: 15px;

  // espace et gap
  --cardEspaceUpDown: 10px;
  --espace: 20px;
  --espaceButton: 5px;

  --gap: 1rem;
  --cardGap: 0.5rem;

  // radius
  --radius: 8px;
  --radiusButton: 25px;

  // padding
  --padButton: 9px 16px;

  // texts
  --fs-h1: 1.75rem;
  --fs-h2: 1.25rem;
  --fs-h3: 1.15rem;
  --fs-h4: 1.1rem;
  --fs-base: 1rem;
  --fs-mini: 14px;

  --fw-button: 600;

  // couleurs
  --text1: rgb(255, 255, 255);
  --text2: rgb(0, 0, 0);
  --text2Trans: rgba(0, 0, 0, 0.5);

  --back: rgb(234, 243, 241);
  --middle: rgb(255, 255, 255);

  --darkBlue: rgb(1, 94, 255);
  --blue: rgb(49, 123, 139);
  --yellow: rgb(255, 204, 0);
  --red: rgb(206, 17, 38);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}

:root .darkTheme {
  --text1: rgb(255, 255, 255);
  --text2: rgb(255, 255, 255);
  --text2Trans: rgba(255, 255, 255, 0.6);

  --back: #20222e;
  --middle: #3c3f53;
}
