.auth {
  .imageTop {
    background: url("/topAuth.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 200px;
    border-radius: var(--radius);

    padding: 70px var(--espace);

    h1 {
      color: var(--text1);
    }
  }

  form {
    transform: translateY(-50px);

    .topForm {
      display: flex;
      flex-direction: column;

      h2 {
        color: var(--blue);
        align-self: flex-start;

        &::before {
          content: "";
          width: var(--losange);
          height: var(--losange);
          background-color: var(--blue);
          position: absolute;
          transform: rotate(45deg);
          top: 26px;
          left: -7.5px;
        }
      }
    }

    .inscr {
      align-self: flex-end;
      text-decoration: underline;
      font-size: var(--fs-mini);
    }

    .oublie {
      align-self: flex-start;
      text-decoration: underline;
      font-size: var(--fs-mini);
    }

    .legale {
      display: flex;
      flex-direction: column;
      text-decoration: underline;
      font-size: var(--fs-mini);
    }

    button {
      align-self: flex-end;
    }
  }
}
