.headerPhone {
  width: 100%;
  position: absolute;
  top: 0;

  i {
    display: block;
    width: 100%;
    height: var(--line);
    background-color: var(--blue);
    border-radius: 0 0 var(--radius) var(--radius);
  }

  .buttonHeaderPhone {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: var(--espace);
    color: var(--text1);

    .return {
      margin-left: calc(2 * var(--espace));
      background-color: var(--blue);
      padding: 5px;
      font-size: var(--fs-h1);
      border-radius: var(--radius);
    }
  }
}
