.navbarPhone {
  display: flex;
  justify-content: space-around;

  position: fixed;
  bottom: 0;
  z-index: 10;

  width: 100%;
  height: 3.5rem;

  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  background-color: var(--middle);
  box-shadow: 0px -8px 0 0 var(--back);

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      position: absolute;
      transition: 0.5s;
      opacity: 0;
      transform: translateY(20px);
    }

    .icon {
      transition: 0.5s;
      font-size: 1.5rem;
      z-index: 2;
    }

    &.active {
      .icon {
        transform: translateY(-30px);
      }

      p {
        opacity: 1;
        transform: translateY(10px);
      }
    }

    &:nth-child(1).active ~ .indicator {
      transform: translateX(calc(100vw - 138vw));
    }
    &:nth-child(2).active ~ .indicator {
      transform: translateX(calc(100vw - 112.75vw));
    }
    &:nth-child(3).active ~ .indicator {
      transform: translateX(calc(100vw - 87vw));
    }
    &:nth-child(4).active ~ .indicator {
      transform: translateX(calc(100vw - 62.75vw));
    }
  }

  .indicator {
    position: absolute;
    top: -75%;
    width: 70px;
    height: 70px;
    border: 8px solid var(--back);
    border-radius: 50%;
    background-color: var(--middle);
    transition: 0.5s;

    transform: translate(-500px);

    &::before {
      content: "";
      position: absolute;
      top: 63%;
      left: -21px;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-top-right-radius: 25px;
      box-shadow: 1px -8px 0 0 var(--back);
    }

    &::after {
      content: "";
      position: absolute;
      top: 63%;
      right: -21px;
      width: 20px;
      height: 18px;
      background-color: transparent;
      border-top-left-radius: 25px;
      box-shadow: -1px -8px 0 0 var(--back);
    }
  }
}
