.reportCard {
  width: 100%;
  background-color: var(--middle);

  margin: var(--espace) 0;
  padding: var(--espace);
  border-radius: var(--radius);

  &.NON_VU {
    border-top: var(--line) solid var(--blue);
  }

  &.SUPPRIME {
    border-top: var(--line) solid var(--red);
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    span {
      font-style: italic;
      font-size: var(--fs-mini);
    }

    button {
      color: var(--text2);
    }
  }

  .commentInFaute {
    margin: var(--espace) 0;
  }
}
