.reportCard {
  width: 100%;
  background-color: var(--middle);

  margin: var(--espace) 0;
  padding: var(--espace);
  border-radius: var(--radius);

  &.NON_VU {
    border-top: var(--line) solid var(--blue);
  }

  &.SUPPRIME {
    border-top: var(--line) solid var(--red);
  }
}
