.page404 {
  background: url("../../public/page404/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: var(--espace);

  // * {
  //   border: 1px red solid;
  // }

  .containerText {
    min-height: 100vh;
    min-width: 100%;
    padding: var(--espace);

    h1,
    p {
      background-color: var(--middle);
      border-radius: var(--radius);
      padding: var(--espace);
    }

    .linkToNext {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: var(--gap);

      margin-top: var(--espace);
      max-width: 100%;
    }

    &.lanceLeDe {
      background: url("../../public/page404/dé.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    &.nainDeJardin {
      background: url("../../public/page404/nain.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    &.falaise {
      background: url("../../public/page404/falaise.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    &.buisson {
      background: url("../../public/page404/buisson.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    &.ruisseau {
      background: url("../../public/page404/ruisseau.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    &.serpent {
      background: url("../../public/page404/serpent.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    &.win {
      background: url("../../public/page404/win.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    &.lose {
      background: url("../../public/page404/lose.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  }
}
