.pageIndex {
  gap: var(--gap);

  .forAdmin {
    align-self: flex-start;
  }

  .pagination {
    button {
      color: var(--text2);
      background-color: var(--blue);

      &.Mui-selected {
        filter: grayscale(0.7);
      }
    }
  }

  .cardsParkoursUl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
  }
}
