.cardEpreuve {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--cardGap);

  width: 320px;
  padding: var(--cardEspace) var(--espace);
  border-radius: var(--radius);
  background-color: var(--middle);

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: var(--radius);
  }
}
