.modifyOneParkour {
  form {
    button {
      align-self: center;
    }
  }

  .toDelete {
    filter: grayscale(1);
  }

  img {
    width: 150px;
    height: 150px;
  }

  form {
    margin: var(--espace) 0;
  }
}
