.oneParkour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  .carrouselParkour {
    width: 360px;
    height: 340px;

    .imageContainer {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 300px;
      }
    }
  }
}
