.pagesInfos {
  gap: var(--gap);

  .MuiAccordion-root {
    background-color: var(--middle);
    color: var(--text2);
    max-width: 700px;

    svg {
      color: var(--text2);
    }
  }

  // faq
  .userChoose {
    background-color: black;
    color: white;
  }

  .css-adcfpp-MuiAccordionActions-root {
    flex-direction: column;
  }

  // ---
  &.cgu,
  &.pdc,
  &.ml {
    align-items: flex-start;

    h2 {
      margin: 2rem 0;
    }

    h3 {
      margin-top: 3rem;
    }
  }

  // plan du site
  .ulPlanSite {
    li {
      a {
        display: flex;
        align-items: center;
      }
    }
  }
}
