.pagesInfos {
  gap: var(--gap);

  // faq
  .userChoose {
    background-color: black;
    color: white;
  }

  .css-adcfpp-MuiAccordionActions-root {
    flex-direction: column;
  }

  // ---
  &.cgu,
  &.pdc,
  &.ml {
    align-items: flex-start;

    h2 {
      margin: 2rem 0;
    }

    h3 {
      margin-top: 3rem;
    }
  }
}
